# Backend
__pycache__/
*.py[cod]
venv/
.env
backend/bin/
backend/error.log
backend_debug.log
backend/build/
backend/dist/
backend/bin/
backend/bin/
release/

# Frontend
node_modules/
dist/
dist_electron/
frontend.log

# System
.DS_Store
.idea/
.vscode/

# Database (Optional, depending if user wants to sync DB)
ice_platform.db
